---
title: Endy Tjahjono
layout: pages
---

<div class="page-header">
<h1>{{site.title}}</h1>
<small>{{site.tagline}}</small>
</div>

{% for post in paginator.posts %}

<br />
<h2><a href="{{post.url}}">{{post.title}}</a> <small>{{post.date | date_to_string}}</small></h2>
<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.url}}{{post.url}}" data-text="{{post.title}}" data-via="endy_tj">Tweet</a></p>

{{post.content}}

{% endfor %}

<div>
<ul class="pager">
{% if paginator.previous_page %}
{% if paginator.previous_page == 1 %}
<li><a href="/">Older Posts</a></li>
{% else %}
<li><a href="/page{{paginator.previous_page}}">Older Posts</a></li>
{% endif %}
{% endif %}
{% if paginator.next_page %}
<li><a href="/page{{paginator.next_page}}">More Recent Posts</a></li>
{% endif %}
</ul>
</div>
