
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_donations">
<input type="hidden" name="business" value="EBYJF2MRPH6HC">
<input type="hidden" name="lc" value="ID">
<input type="hidden" name="item_name" value="NNDDCC Website">
<input type="hidden" name="no_note" value="0">
<input type="hidden" name="cn" value="Add a note to the author:">
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-DonationsBF:tipjar01_zpsd283f712.gif:NonHosted">
<input type="image" src="http://i1144.photobucket.com/albums/o484/nnddcc/article/tipjar01_zpsd283f712.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p>Do you like this tool? Tip the author!</p>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="X7DRATU66CAKA">
<input type="image" src="http://i1144.photobucket.com/albums/o484/nnddcc/article/tipjar01_zpsd283f712.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
