body {
    background-image: url(http://i1144.photobucket.com/albums/o484/nnddcc/article/textured_paper_zpsc24c8bc8.png);
}
@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}
