body {
    background-image: url(https://i.imgsafe.org/50/5082020947.png);
}
@media (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}
.postbox {
    background-color: #FFFFFF;
}
