<div class="container">
    <div class="form-inline">
        <div class="checkbox">
            <label>
                <input ng-model="vm.UserData.FilterPast" ng-change="vm.ChangeFilterPast()" type="checkbox" />
                Filter Past Shows
            </label>
        </div>
    </div>
</div>

<br />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Time</th>
            <th ng-repeat="cs in vm.ChannelShows">
                {{cs.Channel.Code}} ({{cs.Channel.Number}})
            </th>
        </tr>
    </thead>
    <tbody>

        <tr ng-repeat="(timeIdx, row) in vm.Matrix">
            <td>{{vm.Milestones[timeIdx] | date:"HH:mm"}}</td>
            <td ng-repeat="(channelIdx, col) in row" ng-if="col.Generate" rowspan="{{col.Show.ColSpan}}" ng-class="{'text-muted': col.Show.isPast}">
                <span ng-if="!!col.Show">
                    {{col.Show.Title}}
                    <br/>
                    {{col.Channel.Code}} {{col.Channel.Number}}
                </span>
            </td>
        </tr>

    </tbody>
</table>