<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
<link rel="stylesheet" href="/stylesheets/tbsextend.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="author" href="https://plus.google.com/100372837324190003490" />
<title>{{page.title}}</title>
</head>
<body>

{% include navigationbar.html %}

<div class="container">

<div class="row col-md-12 postbox">

<h2>{{page.title}}</h2>
<p>
By {{site.owner}}.
Last update {{page.date | date_to_string}}.
</p>
<p>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="endy_tj">Tweet</a>
<span class="g-plusone" data-size="medium"></span>
<span class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="arial"></span>
</p>

{{content}}

{% include disquscomment.html %}
{% include footer.html %}

</div>

</div>
{% include inspectlet.html %}
{% include googleanalytics.html %}
{% include twitter-button-generator.html %}
{% include googleplusone.html %}
{% include facebooklike.html %}
</body>
</html>
