<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
<link rel="stylesheet" href="/stylesheets/tbsextend.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="author" href="https://plus.google.com/100372837324190003490" />
<title>{{page.title}}</title>
</head>
<body>

{% include navigationbar.html %}

<div class="container">

<div class="row col-md-12 postbox">

<h2>{{page.title}}</h2>
<p>
By {{site.owner}}.
Last update {{page.date | date_to_string}}.
</p>

{{content}}

{% include disquscomment.html %}
{% include footer.html %}

</div>

</div>
{% include googleanalytics.html %}
</body>
</html>
