<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/pygment_trac.css">
<link rel="stylesheet" href="/stylesheets/tbsextend.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="author" href="https://plus.google.com/100372837324190003490" />
<meta property="fb:admins" content="613816169" />
<title>{{page.title}}</title>
</head>
<body>
<div class="container">

{% include navigationbar.html %}

{{content}}

{% include footer.html %}

</div>
{% include googleanalytics.html %}
</body>
</html>
