<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
<!--<link href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/readable/bootstrap.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="/stylesheets/tbsextend.css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<title>{{page.title}}</title>
</head>
<body>
<div class="container">

<div class="navbar">
<div class="navbar-inner">
<a class="brand" href="/">{{site.title}}</a>
<ul class="nav pull-right">
<li><a href="/archive">Archive</a></li>
<li class="divider-vertical"></li>
<li><a href="/about">About</a></li>
</ul>
</div>
</div>

{{content}}

<footer>
<br />
<hr />
<p><small>Disclaimer: The opinions expressed herein are my own personal opinions and do not represent my employer's view in any way.</small></p>
<p><small>&copy; Copyright Endy Tjahjono.</small></p>
</footer>

</div>
</body>
</html>
