<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/tbsextend.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="author" href="https://plus.google.com/100372837324190003490" />
<meta property="fb:admins" content="613816169" />
<title>{{page.title}}</title>
</head>
<body>
<div class="container">

{% include navigationbar.html %}

{{content}}

{% include footer.html %}

</div>
{% include googleanalytics.html %}
</body>
</html>
